<div class="py-8 bg-red-50 home-bg">
  <div class="text-center py-44 title font-sans ">
    <h1 class="font-bold capitalize text-3xl md:text-6xl  md:leading-small-loose text-purple-700">
      It is never too late <br>
      To Fall in love.
    </h1>

    <h6 class="text-purple-600 font-semibold py-5">
      One day, someone will walk into your life and make you see why it<br>

      never worked out with anyone else.
    </h6>

    <button
      class="uppercase rounded-full font-semibold bg-red-400 text-white border-red-500 px-5 py-2 border-2 hover:opacity-90 ">
      Find a Love
    </button>
  </div>

</div>
