# node_modules/
dist/
# Dependency directories
node_modules/
.angular
.vscode


# IDEs and editors
.idea/
/.vscode/
*.iml
*.swp

# Logs and databases
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build files
*.ngfactory.ts
*.shim.ts
*.module.ngfactory.ts
*.ngsummary.json

# Compiled CSS
*.css.map

# Other files and folders
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# For MacOS users
.DS_Store
client/.angular
client/.vscode
