# node_modules/
dist/
# Dependency directories
node_modules/
.angular/
.vscode/

client/.angular/


# IDEs and editors
.idea/
/.vscode/
*.iml
*.swp

# Logs and databases
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build files
*.ngfactory.ts
*.shim.ts
*.module.ngfactory.ts
*.ngsummary.json

# Compiled CSS
*.css.map

# Other files and folders
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# For MacOS users
.DS_Store

client/.angular
client/.angular/cache/
.angular
client/.angular/cache/15.1.3/angular-webpack/2072028891cbf7a8c22306961f48cfcd1e92c3d7/0.pack
client/.angular/cache/15.1.3/angular-webpack/2072028891cbf7a8c22306961f48cfcd1e92c3d7/1.pack
client/.angular/cache/15.1.3/angular-webpack/2072028891cbf7a8c22306961f48cfcd1e92c3d7/3.pack
client/.angular/cache/15.1.3/angular-webpack/2072028891cbf7a8c22306961f48cfcd1e92c3d7/12.pack
client/.angular/cache/15.1.3/angular-webpack/2072028891cbf7a8c22306961f48cfcd1e92c3d7/2.pack
client/.angular/cache/15.1.3/angular-webpack/2072028891cbf7a8c22306961f48cfcd1e92c3d7/3.pack
client/.angular/cache/15.1.3/angular-webpack/2072028891cbf7a8c22306961f48cfcd1e92c3d7/6.pack
