<div class="absolute p-5 bottom-0 grid cursor-pointer  w-full grid-cols-1 md:grid-cols-3 sm:grid-cols-2 gap-2">
  <ng-container *ngFor="let photo of member.photos">
    <img [src]="photo.url" class="rounded-md" (click)="openDialog(photo)" [alt]="photo.url">
  </ng-container>
  <app-file-uploader />

</div>


<div [@bounceInDown]="animationState"
  class="absolute z-30   top-0 bottom-0  cursor-pointer h-full flex flex-row-reverse object-cover right-0 "
  *ngIf="image">

  <div (click)="closeDialog()" class="mr-1  absolute bg-red-600 text-white p-2 shadow-md mt-3 rounded-full">

    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
      class="w-6 fill-red-400 h-6 ">
      <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
    </svg>
  </div>



  <img [src]="image" class="rounded-md object-cover" (click)="image=undefined">

  <div class="absolute bottom-1  text-white space-x-3 rounded-md flex w-full justify-center">
    <button class="bg-blue-400 px-3 rounded-full  shadow-md " (click)="setMainPhoto(currentPhoto)">Set
      Main</button>
    <div class="relative">

      <app-confirm-popup (confirmation)="handleConfirm($event)" [title]="'Do you want to delete?'"
        [btnText]="'Delete'" />
    </div>
  </div>
</div>
