.shim-blue {
  position: relative;
  overflow: hidden;
  width: 100%;
  background-color: rgba(228, 125, 52, 0.7);
}
.shim-blue::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  background-image: linear-gradient(
    90deg,
    rgb(184, 49, 228) 0,
    rgba(75, 5, 195, 0.9) 50%,
    rgba(174, 0, 255, 0.8) 100%
  );
  animation: shimmer 2.5s ease-out infinite;
  content: "";
}

@keyframes shimmer {
  100% {
    transform: translateX(0%);
    opacity: 0;
  }
}
